/* base */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:link,
:visited {
    text-decoration: none;
    color: var(--white);
}

:root {
    --white: #fff;
    --off-white: #777;
    --bg-card: #fff3f3;
    --black: #000;
    --primary-clr: #f44336;
}

/* components */
/* the nav part */
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav img {
    width: 150px;
    height: auto;
}

/* to remove the x and menu icon*/
nav .fa {
    display: none;
    margin: 0.625em;
    font-size: 1.375em;
    cursor: pointer;
    color: var(--white);
}

.links li {
    padding: 0.5em 0.75em;
    display: inline-block;
    font-size: 0.8125em;
}

/* the line under the links */
.links li::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin: auto;
    background: var(--primary-clr);
    -webkit-box-shadow: 0 0 10px var(--primary-clr);
    box-shadow: 0 0 10px var(--primary-clr);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.links li:hover::after {
    width: 100%;
}

/* the text box part */
.txt-box {
    width: 100%;
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.txt-box h1 {
    font-size: 3.875em;
}

.txt-box p {
    font-size: 0.875em;
    margin: 0.625em 0 2.5em;
    width: 55%;
}

.hero-btn {
    display: inline-block;
    border: 1px solid var(--white);
    padding: 0.75em 2.125em;
    font-size: 0.8125em;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

.hero-btn:hover {
    border-color: var(--primary-clr);
    background: var(--primary-clr);
}

/* the course section */
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 5%;
}

/* the individual card */
.card {
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    background: var(--bg-card);
    padding: 1.25em 0.75em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.card:hover {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* the campus section */
.campus-card {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
}

.campus-card img {
    width: 100%;
    display: block;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 0;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: var(--white);
    font-size: 1.625em;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 50%;
    opacity: 1;
}

/* facilities section */
.fac-col {
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    text-align: left;
}

.fac-col img {
    width: 100%;
    border-radius: 10px;
}

/* testimonials section */
.testi-col {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--bg-card);
    padding: 1.5625em;
}

.testi-col img {
    height: 40px;
    margin: 0 30px 0 5px;
    border-radius: 50%;
}

.testi-col p {
    padding: 0;
}

.testi-col h3 {
    margin-top: .9375em;
    text-align: left;
}

.testi-col .fa-solid {
    color: var(--primary-clr);
}

/* contact section */
.contact {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), center/cover url(../images/banner2.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), center/cover url(../images/banner2.jpg);
    min-height: auto !important;
    border-radius: 10px;
    margin: 2em 5em;
    text-align: center;
    padding: 100px 0;
    color: var(--white);
}

.contact h1 {
    margin-bottom: 40px;
}

.testi-col, .fac-col, .campus-card, .card {
    border-radius: 10px;
    margin-bottom: 5%;
}

/* the footer icons */
.icons .fa-brands {
    color: var(--primary-clr);
    margin: 0 .8125em;
    cursor: pointer;
    padding: 1.125em 0;
}

/* moduls */
header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 10, 30, 0.8)), to(rgba(5, 10, 30, 0.8))), center/cover url(../images/banner.png);
    background: linear-gradient(rgba(5, 10, 30, 0.8), rgba(5, 10, 30, 0.8)), center/cover url(../images/banner.png);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    min-height: 100vh;
}

.facilities,
.course,
.campus,
header, .testimonials {
    padding: 2em 5em;
    text-align: center;
}

h1 {
    font-size: 2.25em;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 0.625em 0;
}

p {
    line-height: 1.375em;
    padding: 0.625em;
    font-size: 0.875em;
    font-weight: 300;
    color: var(--off-white);
}

footer {
    width: 100%;
    text-align: center;
    padding: 2em 0;
}

footer h4 {
    margin-bottom: 1.5em;
    margin-top: 1.25em;
    font-weight: 600;
}

footer p {
    width: 60%;
    margin: auto;
}

/* media query */
@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    header,
    .course,
    .campus, .facilities {
        padding: 1.3125em 2.625em;
    }

    .txt-box h1 {
        font-size: 1.25em;
    }

    .links {
        position: fixed;
        top: 0;
        right: -200px;
        text-align: left;
        width: 200px;
        height: 100vh;
        z-index: 5;
        background: var(--primary-clr);
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .links li {
        display: block;
    }

    .links ul {
        padding: 5px 10px;
    }

    nav .fa {
        display: block;
    }

    .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .testi-col img {
        margin: 0 15px 0 0;
    }

    .contact h1 {
        font-size: 1.375em;
    }
}

/*# sourceMappingURL=style.css.map */